{% extends "_layouts/skeleton.twig" %}

{% set pageobjref = '<a href="#page-objects">page object representation</a>' %}
{% set pagehieref = '<a href="#page-hierarchies">page hierarchy</a>' %}

{% set content %}

# Pages template reference

You can access information about the pages in your prototype via the `pt.pages` variable.

Many of the methods available on the `pt.pages` variable will return a [page object](#page-objects) representation of a page, which will give you access to metadata about that page.

## Available methods

<div class="method-ref">
    
    <div class="method">
        <h3 class="method-title" id="pages-getcurrent">pt.pages.<span class="name">getCurrent()</span></h3>
        <p>Returns a {{ pageobjref }} of the current page, or <code>null</code> if it's not found.</p>
        {% raw %}<pre class="brush: twig">{% set thisPage = pt.pages.getCurrent() %}</pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="pages-getbyid">pt.pages.<span class="name">getById(<span class="var">id</span>)</span></h3>
        <p>Returns a {{ pageobjref }} of a page specified by it's ID, or <code>null</code> if it's not found.</p>
        {% raw %}<pre class="brush: twig">{% set monkeyPage = pt.pages.getById('monkey-page') %}</pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="pages-getbyurlpath">pt.pages.<span class="name">getByUrlPath(<span class="var">urlPath</span>)</span></h3>
        <p>Returns a {{ pageobjref }} of a page specified by it's (root-relative) URL path, or <code>null</code> if it's not found. </p>
        {% raw %}<pre class="brush: twig">{% set zebraPage = pt.pages.getById('/zoo/animals/zebras') %}</pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="pages-geturlpathbyid">pt.pages.<span class="name">getUrlPathById(<span class="var">id</span>)</span></h3>
        <p>A shortcut method to return the root-relative URL (no domain, as a string) of the page specified by the ID, or <code>#</code> if it's not found.</p>
        {% raw %}<pre class="brush: twig">{{ pt.pages.getUrlById('hamsters') }} <!-- /animals/hamsters --></pre>{% endraw %}
        <p class="hint">This or the corresponding method<strong>.getUrlById()</strong> can be useful for linking to other pages within the prototype in a way that allows you to move pages around without breaking all your links, and is the recommended way to generate URLs in Prontotype.</p>
    </div>
    
    <div class="method">
        <h3 class="method-title" id="pages-geturlbyid">pt.pages.<span class="name">getUrlById(<span class="var">id</span>)</span></h3>
        <p>A shortcut method to return the full URL (as a string) of the page specified by the ID, or <code>#</code> if it's not found.</p>
        {% raw %}<pre class="brush: twig">{{ pt.pages.getUrlById('hamsters') }} <!-- http://example.com/animals/hamsters --></pre>{% endraw %}
        <p class="hint">This or the corresponding method<strong>.getUrlPathById()</strong> can be useful for linking to other pages within the prototype in a way that allows you to move pages around without breaking all your links, and is the recommended way to generate URLs in Prontotype.</p>
    </div>
    
    <div class="method">
        <h3 class="method-title" id="pages-getall">pt.pages.<span class="name">getAll()</span></h3>
        <p>Returns a {{ pagehieref }} of all the pages in the site.</p>
        {% raw %}<pre class="brush: twig">{% set sitemap = pt.pages.getAll() %}</pre>{% endraw %}
        <p class="hint">This is useful for generating navigation structures with, and is used internally by the <a href="{{ pt.pages.getUrlById('snippets-nav') }}#snippets-nav-pagetree">page tree snippet</a> generator.</p>
    </div>

    <div class="method">
        <h3 class="method-title" id="pages-getchildrenbyid">pt.pages.<span class="name">getChildrenById(<span class="var">id</span>)</span></h3>
        <p>Returns a {{ pagehieref }} of all the child pages of a page specified by it's ID. <strong>Does not</strong> include the page itself.</p>
        {% raw %}<pre class="brush: twig">{% set dogBreedPages = pt.pages.getChildrenById('dogs') %}</pre>{% endraw %}
        <p class="hint">This can be used to generate page-specific navigation lists; the output can be passed to the <a href="{{ pt.pages.getUrlById('snippets-nav') }}#snippets-nav-pagetree">page tree snippet</a> to make this even easier!</p>
    </div>
    
    <div class="method">
        <h3 class="method-title" id="pages-getchildrenbyurlpath">pt.pages.<span class="name">getChildrenByUrlPath(<span class="var">urlPath</span>)</span></h3>
        <p>Returns a {{ pagehieref }} of all the child pages of a page specified by it's (root-relative) URL path. <strong>Does not</strong> include the page itself.</p>
        {% raw %}<pre class="brush: twig">{% set catTypePages = pt.pages.getChildrenByUrlPath('/animals/domestic/cats') %}</pre>{% endraw %}
        <p class="hint">This can be used to generate page-specific navigation lists; the output can be passed to the <a href="{{ pt.pages.getUrlById('snippets-nav') }}#snippets-nav-pagetree">page tree snippet</a> to make this even easier!</p>
    </div>
    
</div>


## Page objects {{ '{#' }}page-objects}

Once you have a **Pronototype page object** returned by one of the relevant methods above, you can then get data about the page that it represents.

In the following examples we'll assume that the `myPage` variable has been first set using the `pt.pages.getPageById()` method - but obviously in your prototype you can call your variables whatever you like!

{% raw %}<pre class="brush: twig">{% set myPage = pt.pages.getById('my-lovely-page') %}</pre>{% endraw %}

<div class="method-ref">
    
    <div class="method">
        <h3 class="method-title" id="page-gettitle">myPage.<span class="name">getTitle()</span></h3>
        <p>Return the <a href="{{ pt.pages.getUrlById('pages-titles') }}">automatically generated title</a> of the page.</p>
        {% raw %}<pre class="brush: twig"><h1>{{ myPage.getTitle() }}</h1></pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="page-geturlpath">myPage.<span class="name">getUrlPath()</span></h3>
        <p>Return the <strong>URL path</strong> of the page (i.e. root relative URL, without the domain part).</p>
        {% raw %}<pre class="brush: twig">{{ myPage.getUrlPath() }} <!-- /animals/hamsters --></pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="page-geturl">myPage.<span class="name">getUrl()</span></h3>
        <p>Return the <strong>full URL</strong> of the page (including domain).</p>
        {% raw %}<pre class="brush: twig">{{ myPage.getUrl() }}  <!-- http://example.com/animals/hamsters --></pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="page-getshorturlpath">myPage.<span class="name">getShortUrlPath()</span></h3>
        <p>Return the <a href="{{ pt.pages.getUrlById('pages-shorturls') }}">short URL path</a> of the page (i.e. root relative URL, without the domain part).</p>
        {% raw %}<pre class="brush: twig">{{ myPage.getShortUrlPath() }} <!-- /_p/hmstrs --></pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="page-getshorturl">myPage.<span class="name">getShortUrl()</span></h3>
        <p>Return the full <a href="{{ pt.pages.getUrlById('pages-shorturls') }}">short URL</a> of the page (including domain).</p>
        {% raw %}<pre class="brush: twig">{{ myPage.getShortUrl() }} <!-- http://example.com/_p/hmstrs --></pre>{% endraw %}
    </div>
    
    <div class="method">
        <h3 class="method-title" id="page-gettemplatepath">myPage.<span class="name">getTemplatePath()</span></h3>
        <p>Return the template-directory relative filesystem path for the page.</p>
        {% raw %}<pre class="brush: twig">{{ myPage.getTemplatePath() }} <!-- /2-animals/3-[hmstrs]-hamsters.twig --></pre>{% endraw %}
    </div>
    
</div>


## Page hierarchies {{ '{#' }}page-hierarchies}



{% endset %}
