<{{ opts.type }}{% for attr, val in attrs %} {{ attr }}="{{ val }}"{% endfor %}>
{% for page in pages %}
{% if not loop.last %}
    <li class="{% if opts.levelClassPrefix %}{{ opts.levelClassPrefix }}{{ loop.index0 }}{% endif %}">
        {% if page.isPage() %}
        <a href="{{ page.getUrl() }}">{{ page.getTitle() }}</a>
        {% elseif page.isDirectory() %}
        <span>{{ page.getTitle() }}</span>
        {% else %}
        <a href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}
    </li>
{% else %}
    <li class="level-{{ loop.index0 }} is-current">
        {% if page.isPage() %}
        <em>{{ page.getTitle() }}</em>
        {% else %}
        <em>{{ page.title }}</em>
        {% endif %}
    </li>
{% endif %}
{% endfor %}    
</{{ opts.type }}>
