{% if level == 0 %}
<{{ opts.type }}{% for attr, val in attrs %} {{ attr }}="{{ val }}"{% endfor %}>
{% endif %}
    {% for item in pages %}
    {% if not item.isPage() or (item.isPage() and not opts.extensions|length) or(item.isPage() and opts.extensions|length and item.getExtension() in opts.extensions) %}
    <li class="{% if opts.levelClassPrefix %}{{ opts.levelClassPrefix }}{{ level }} {% endif %}{% if item.isPage() %}is-page{% else %}is-directory{% endif %}{% if item.isCurrent() and opts.currentClass %} {{ opts.currentClass }}{% endif %}{% if item.isParentOfCurrent() and opts.parentClass %} {{ opts.parentClass }}{% endif %}">
        {% if item.isPage() %}
        <a href="{{ item.getUrlPath() }}">{{ item.getTitle() }}</a>
        {% else %}
        <span>{{ item.getTitle() }}</span>
        {% endif %}
        {% if item.hasSubPages() and (not opts.maxDepth or opts.maxDepth > level + 1) %}
        <ul>
        {% for page in item.getSubPages() %}
            {{ pt.snippets.navigation.pageTree(page, attrs, opts, level + 1) }}
        {% endfor %} 
        </ul>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
{% if level == 0 %}
</{{ opts.type }}>
{% endif %}