{% if level == 0 %}
<{{ opts.type }}{% for attr, val in opts.attrs %} {{ attr }}="{{ val }}"{% endfor %}>
{% else %}
<{{ opts.type }}>
{% endif %}

    {% for item in pages %}
    
    <li class="level-{{ level }}{% if item.isCurrent() %} {{ opts.currentClass }}{% endif %}{% if item.isParentOfCurrent() %} {{ opts.parentClass }}{% endif %}">
        {% if item.isPage() %}
        <a href="{{ item.getUrlPath() }}">{{ item.getTitle() }}</a>
        {% else %}
        <span>{{ item.getTitle() }}</span>
        {% endif %}
        {% if item.hasSubPages() and (not opts.maxDepth or opts.maxDepth > level + 1) %}
        {% for page in item.getSubPages() %}
        {% if page.isPage() %}
        {{ pt.snippets.navigation.pageTree(opts, page, true, level + 1 ) }}
        {% else %}
        {{ page.getTitle() }}
        {% endif %}
        {% endfor %}
        {% endif %}
    </li>
    
    {% endfor %}

</{{ opts.type }}>