<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    {{ pt.snippets.assets.stylesheet('css/docs.css') }}
    
    <title>Prontotype Documentation (v{{ pt.VERSION }})</title>
</head>
<body>
    
    <div class="site-header receptacle">
      
          <div class="receptacle-inner">
          
              <a href="/" class="branding">Prontotype Documentation</a>
              <span class="version">v{{ pt.VERSION }}</span>
          
          </div>
      
      </div>
  
      <div class="site-body receptacle">
      
          <div class="receptacle-inner">
          
              <div class="aside">
                  
                  <nav class="nav--primary">
                      {{ pt.snippets.navigation.pageTree() }}
                  </nav>

              </div>
          
              <div class="main">
                  
                  {% if not pt.pages.getCurrent().isHome() %}
                  {{ pt.snippets.navigation.breadcrumb(null, {class : 'breadcrumb'}) }}
                  {% endif %}
                  
                  <div class="pt-content-block"> 
                      {% block content %}
                      {{ content|markdown|geshiPre }}
                      {% endblock %}
                  </div>
              </div>
          
          </div>

      </div>
    
</body> 
</html>