<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    {{ pt.snippets.assets.stylesheet('css/docs.css') }}
    {{ pt.snippets.assets.stylesheet('css/code.less') }}
    
    <title>Prontotype Documentation (v{{ pt.VERSION }})</title>
</head>
<body>
    
    <div class="site-header receptacle">
      
          <div class="receptacle-inner">
          
              <a href="/" class="branding">Prontotype Documentation <span class="version">v{{ pt.VERSION }}</span></a>
          
          </div>
      
      </div>
  
      <div class="site-body receptacle">
      
          <div class="receptacle-inner">
          
              <div class="aside">
                  
                  <nav class="nav--primary">
                      {{ pt.snippets.navigation.pageTree() }}
                  </nav>
                  
              
                {#  <nav class="nav--primary">
                      <ul>
                          <li class="top-level"><a href="{{ pt.pages. }}">Overview</a></li>
                          <li class="top-level">
                              <a href="{{ pt.urls.docs.root }}/setup">Installation and setup</a>
                              <ul>
                                  <li><a href="{{ pt.urls.docs.root }}/setup/installing">Installing Prontotype</a></li>
                                  <li><a href="{{ pt.urls.docs.root }}/setup/prototypes">Prototypes and domains</a></li>
                                  <li><a href="{{ pt.urls.docs.root }}/setup/configuration">Configuration</a>
                                      <ul>
                                          <li><a href="{{ pt.urls.docs.root }}/setup/configuration/password-protection">Password protection</a></li>
                                          <li><a href="{{ pt.urls.docs.root }}/setup/configuration/reference">Full Reference</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="top-level">
                              <a href="{{ pt.urls.docs.root }}/pages">Pages and URLs</a>
                              <ul>
                                  <li><a href="{{ pt.urls.docs.root }}/pages/urls-to-templates">Mapping URLs to templates</a></li>
                                  <li><a href="{{ pt.urls.docs.root }}/pages/custom-routes">Custom routes</a></li>
                                  <li><a href="{{ pt.urls.docs.root }}/pages/clean-urls">Clean URLs</a></li>
                              </ul>
                          </li>
                          <li class="top-level">
                              <a href="{{ pt.urls.docs.root }}/templating">Templating</a>
                              <ul>
                                  <li><a href="{{ pt.urls.docs.root }}/templating/twig-primer">Twig Primer</a></li>
                                  <li>
                                      <a href="{{ pt.urls.docs.root }}/templating/reference">Reference</a>
                                      <ul>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/reference/pages">Pages</a></li>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/reference/data">Data</a></li>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/reference/users">Users</a></li>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/reference/assets">Assets</a></li>
                                          <li>
                                              <a href="#">Snippets</a>
                                              <ul>
                                                  <li><a href="{{ pt.urls.docs.root }}/templating/reference/snippets/assets">Assets</a></li>
                                                  <li><a href="{{ pt.urls.docs.root }}/templating/reference/snippets/forms">Forms</a></li>
                                                  <li><a href="{{ pt.urls.docs.root }}/templating/reference/snippets/images">Images</a></li>
                                                  <li><a href="{{ pt.urls.docs.root }}/templating/reference/snippets/navigation">Navigation</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/requests">Requests</a></li>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/storage">Persistent storage</a></li>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/configs">Configs</a></li>
                                          <li><a href="{{ pt.urls.docs.root }}/templating/paths">Paths</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="{{ pt.urls.docs.root }}/templating/twig-primer">Overriding system templates</a></li>
                              </ul>
                          </li>
                          <li class="top-level"><a href="{{ pt.urls.docs.root }}/data">Data</a></li>
                          <li class="top-level"><a href="{{ pt.urls.docs.root }}/users">Users</a></li>
                          <li class="top-level"><a href="{{ pt.urls.docs.root }}/assets">Assets</a></li>
                          <li class="top-level"><a href="{{ pt.urls.docs.root }}/storage">Storage</a></li>
                          <li class="top-level"><a href="{{ pt.urls.docs.root }}/snippets">Snippets</a></li>
                          <li class="top-level"><a href="{{ pt.urls.docs.root }}/scraper">Scraper</a></li>
                          <li class="top-level"><a href="{{ pt.urls.docs.root }}/extensions">Extensions</a></li>
                          <li class="top-level">
                              <a href="{{ pt.urls.docs.root }}/tools">Tools</a>
                              <ul>
                                  <li><a href="{{ pt.urls.docs.root }}/tools/export">Static HTML export</a></li>
                              </ul>
                          </li>
                      </ul>                  
                  </nav> #}
              
              </div>
          
              <div class="main">
                  <div class="pt-content-block"> 
                      {% block content %}
                      {{ content|markdown|geshiPre }}
                      {% endblock %}
                  </div>
              </div>
          
          </div>

      </div>
    
</body> 
</html>